<div class="CVcontainer">
    <div id="topcard-home" class="panel panel-default">
        <div class="container-post-status">
            <div class="row">
                <div class="col-lg-2">
                    <%= image_tag("avatar.jpg", :alt => "image avatar") %>
                </div>
            </div>
        </div>
    </div>
</div>