<div class="wrapper-home">
    <%= render 'sub_items/avatar' %>
    <div class="container-newfeeds" >
        <br/>
        <div class="container-newfeed" >
            <div class="row">
                <div class="col-lg-6">
                    <%= image_tag("background.jpg", :alt => "backgroundd 01")%>
                </div>
                <div class="col-lg-6">
                    <h1>Chuyện tình ngày mưa!</h1>
                    <div class="container-newfeed-Informations">
                        <p > Tác giả: Lê Anh Tuấn </p>
                        <p> <b>Thể loại: Tình cảm ~ lãng mạng</b></p>
                        <p> </b>Tóm  lượt: </b> Cơn mưa ào ạt ngoài sảnh. Tôi định lao đi giữa màn mưa thì một bàn tay giữ lại. 
                        Anh tay cầm chiếc ô đứng bên cạnh che cho tôi từ lúc nào, mặt vẫn còn xanh xao nhưng đôi mắt đầy kiên 
                        quyết.....</p>
                        <p > <b>Lượt xem: </b> 1340934</p>
                        <button type="button" class="btn btn-primary" style="float: right" ng-click = "clickJoin()">ĐỌC</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-newfeeds" >
        <br/>
        <div class="container-newfeed" >
            <div class="row">
                <div class="col-lg-6">
                    <%= image_tag("background.jpg", :alt => "backgroundd 01")%>
                </div>
                <div class="col-lg-5">
                    <h1>Chuyện tình ngày mưa!</h1>
                    <div class="container-newfeed-Informations">
                        <p > Tác giả: </p>
                        <p> <b>Thể loại</b></p>
                        <p> <b>Tóm  lượt: </b></p>
                        <p > <b>Lượt xem: </b></p>
                        <button type="button" class="btn btn-primary" style="float: right" ng-click = "clickJoin()">ĐỌC</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
